* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
div {
  padding: 0px;
  text-align: center;
  margin-left: 60px;
}
main {
  margin: 10 auto;
  width: 250px;
  margin-bottom: 5px; 
  background-color:transparent;
}
h1 {
  font-size: 20px;
  margin: auto 0;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.logo {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


